.navbar {
    background-color: #000;
    color: #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.nav-pills > li {
    float: none;
}

/* red background on hover */
.nav-pills > li:hover {
    background-color: #f00;
}
